.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: right;
}

.inputsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.inputsContainer label {
  font-weight: 400;
}

.inputsContainer input {
  outline: none;
  padding: 0.5rem;
  border: 1px solid #141c42;
  border-radius: 8px;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #141c42;
  width: 40%;
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #1e2a68;
}
