.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  height: 4rem;
  left: 0;
  color: #141c42;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 0 2%;
}

.logoCont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 20%;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
  width: 80%;
}

.navLinks {
  color: #141c42;
  font-weight: 600;
  font-size: 0.85rem;
  text-decoration: none;
}

.authButton,
.logoutButton {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.authButton {
  background-color: #16297e;
  border: none;
  color: #eff1fd;
  font-family: inherit;
  font-weight: 500;
  /* margin-right: 0.5rem; remember to delete this */
}

.logoutButton {
  background-color: #eff1fd;
  color: #e04040;
  border: 1px solid #e04040;
}

.authButton:hover {
  background-color: #152153;
}

.logoutButton {
  background-color: #dce0f7;
}

.active {
  color: #50c878 !important;
}

.logo {
  color: #141c42;
}

.logoStling {
  color: #243381;
}

.closeMobileNav,
.openMobileNav {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #141c42;
  font-size: 1.8rem;
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header {
    justify-content: flex-end;
    gap: 4rem;
    padding: 0 5%;
  }

  .logoCont {
    position: absolute;
    left: 2rem;
  }

  .closeMobileNav,
  .openMobileNav {
    display: block;
  }

  nav .closeMobileNav {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .header nav a {
    font-size: 1rem;
    font-weight: 600;
    color: #141c42;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }
}
