.aboutContainer,
.aboutImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutContainer {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
}

.aboutImageContainer {
  background-image: url('../../assets/about-wall.jpg');
  height: 15rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.aboutImageWrapper,
.ourStoryContainer {
  width: 80%;
}

.aboutUsHeading {
  font-size: 2rem;
  color: #fff;
}

.ourStoryContainer {
  color: #141c42;
  font-weight: 400;
  font-size: 1rem;
  padding: 2rem 0;
}

.ourStoryHeading {
  font-size: 1.5rem;
  font-size: 700;
}

.seeMoreButton {
  background-color: #fff;
  border: none;
  text-decoration: underline;
  padding: 0;
  color: #233694;
  font-size: 0.9rem;
  cursor: pointer;
}
