.mealWrapper {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  box-shadow: 4px 4px 0px 0px rgba(34, 32, 83, 1);
  border-radius: 10px;
}

.meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.productText {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.productImage {
  height: 15rem;
  width: 100%;
  border-radius: 8px;
}

.meal h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #141c42;
  margin: 0 0 0.25rem 0;
}

.price {
  font-weight: 700;
  font-size: 1.2rem;
  background-color: #da480e;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 1px solid #141c42;
  padding: 1rem 2rem;
  border-radius: 20px;
  box-shadow: 4px 4px 0px 0px rgba(34, 32, 83, 1);
}

.remainingUnits {
  color: #141c42;
  font-weight: 600;
  color: red;
}

@media only screen and (max-width: 1024px) {
  .productImage {
    height: 100%;
    width: 100%;
  }
}
