.homeCatalogueCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

.sectionHeading {
  font-size: 1.8rem;
  text-align: center;
  color: #19255f;
  margin: 0;
  padding: 0;
  border: 1px solid #da480e;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 8px 8px 0px 0px rgb(218, 72, 14, 1);
}
