.sliderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  gap: 1rem;
  width: 90%;
  padding: 1rem;
}

.sliderBtn {
  border: none;
  background-color: inherit;
  padding: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.5px solid #d3d3d3;
}

.sliderBtn:hover {
  background-color: #d3d3d3;
  color: #fff !important;
}

.imageNameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
}

.sliderCard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
}

.productImage {
  width: 30rem;
  height: 20rem;
}

.nameCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #19255f;
  width: 100%;
}

.heading,
.productDescription {
  color: #19255f;
  font-size: 1rem;
}

.heading {
  font-weight: 600;
}

.productDescription {
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #636262;
  width: 90%;
}

@media only screen and (max-width: 1024px) {
  .sliderContainer {
    width: 100%;
  }

  .sliderCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .imageNameWrapper {
    align-items: center;
    width: 100%;
  }

  .textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .productImage {
    width: 100%;
    height: 10rem;
  }

  .textWrapper {
    display: none;
  }

  .hide {
    display: none;
  }
}
