.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/Types-of-Grains.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5rem;
  color: #19255f;
}

.blurBackground {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffffe7;
  opacity: 0.9;
  padding: 1rem;
  gap: 3rem;
}

.welcomeTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  gap: 1rem;
  width: 60%;
}

.welcomeTextContainer p {
  margin: 0;
}

.smallMessage {
  font-size: 1.2rem;
  font-weight: 600;
}

.welcomeTextContainer h1 {
  font-size: 2rem;
  margin: 0;
}

.averageText {
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  .welcomeTextContainer {
    margin-top: 2rem;
    gap: 1rem;
    width: 100%;
  }
}
