.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3% 2%;
  gap: 2rem;
  width: 100%;
  color: #19255f;
}

.sectionHeading {
  font-size: 1.8rem;
  text-align: center;
}

.instructionCont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
}

.stepNumber {
  font-weight: 600;
  font-size: 1.3rem;
  color: #da480e;
}

.instructionCard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 15rem;
  height: 10rem;
  padding: 1rem;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  background-color: #19255f;
  color: #fff;
}

.icon {
  font-size: 2rem;
  font-weight: 600;
}

.cardInstruction {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  .instructionCont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .sectionContainer {
    gap: 0;
  }

  .instructionCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
