.sectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  border-top: 1px solid #19255f;
  border-bottom: 1px solid #d3d3d3;
  padding: 4rem 0;
}

.reasonCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  width: 25%;
}

.reasonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  background-color: #19255f;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 2px 2px 0px 0px rgb(218, 72, 14, 1);
  color: #fff;
}

.reasonCard h3,
.reasonCard p {
  margin: 0;
  padding: 0;
}

.reasonName {
  font-size: 1.1rem;
  color: #19255f;
  font-family: 500;
}

.reasonDescription {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #636262;
}
